{% extends "base.html" %}
{% block content %}
<h2 class="mt-3">{% if tovar %}Редактирование{% else %}Добавление{% endif %} товара</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="artikul" class="form-control mb-2" placeholder="Артикул" value="{{tovar.artikul|default:''}}">
    <select name="tip_tovara" class="form-select mb-2">
        {% for t in tipy %}
        <option value="{{t.id}}" {% if tovar.tip_tovara_id == t.id %}selected{% endif %}>{{t.nazvanie}}</option>{% endfor %}
    </select>
    <select name="postavschik" class="form-select mb-2">
        {% for p in postavschiki %}
        <option value="{{ p.id }}" {% if tovar.postavschik_id == p.id %}selected{% endif %}>{{ p.nazvanie }}</option>
        {% endfor %}
    </select>
    <select name="proizvoditel" class="form-select mb-2">
        {% for p in proizvoditeli %}
        <option value="{{ p.id }}" {% if tovar.proizvoditel_id == p.id %}selected{% endif %}>{{ p.nazvanie }}</option>
        {% endfor %}
    </select>
    <select name="kategoriya" class="form-select mb-2">
        {% for k in kategorii %}
        <option value="{{ k.id }}" {% if tovar.kategoriya_id == k.id %}selected{% endif %}>{{ k.nazvanie }}</option>
        {% endfor %}
    </select>
    <input name="tsena" class="form-control mb-2" placeholder="Цена" value="{{tovar.tsena|default:''}}">
    <input name="skidka" class="form-control mb-2" placeholder="Скидка %" value="{{tovar.skidka|default:''}}">
    <input name="ostatok" class="form-control mb-2" placeholder="Остаток (шт.)" value="{{tovar.ostatok|default:''}}">
    <textarea name="opisanie" class="form-control mb-2" placeholder="Описание">{{tovar.opisanie|default:''}}</textarea>
    <input type="file" name="foto" class="form-control mb-2" placeholder="Фото">
    <button type="submit" class="btn btn-accent">Сохранить</button>
    <a href="/" class="btn btn-secondary">Назад</a>
</form>
{% endblock content %}
